sourceDir = "~/workspace/.dotfiles/chezmoi"

[cd]
{{ if eq .chezmoi.os "windows" }}
command = "pwsh.exe"
{{ end }}

[edit]
{{ if eq .chezmoi.os "windows" }}
command = "hx"
{{ end }}
{{ if ne .chezmoi.os "windows" }}
command = "vim"
{{ end }}
