################################################
# Operation
################################################
sourceDir = "~/workspace/dotfiles"

# Format for data output, either `json` or `yaml`
format = "json"
# Mode in target dir, either `file` or `symlink`
mode = "file"

{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "powershell"
{{ end }}

[edit]
  command = "nvim"

[diff]
  command = "delta"
  pager = "delta"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}",
  ]

[update]
  # Update submodules recursively
  recurseSubmodules = true
